* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #899cf4, #a898f2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.t01.main {
    background: rgba(255, 255, 255, 0.104);
    padding: 30px;
    border-radius: 14px;
    width: 400px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.t01 h3 {
    margin-bottom: 20px;
    color: #1b1e41;
}

#output {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
}